body {
  font: 11px sans-serif;
  background-color: gainsboro;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.dot {
  stroke: #000;
}
.line {
  /*stroke: #bbb;
  facebook blue = #3b5998*/
  stroke: blue;
  fill: blue;
}
.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
.container{
  position: relative;
}
.miniGraph1{
 display:inline-block; 
position: absolute;
top: 500;
left: -25;
}
.miniGraph2{
 display:inline-block; 
position: absolute;
top: 500;
left: 200;
}.miniGraph3{
  display:inline-block;
position: absolute;
    top: 500;
    left: 425;

}.miniGraph4{
  display:inline-block;
    position: absolute;
    top: 500;
    left: 650;
}

.miniGraph1 .y .tick {
    display: none;
}.miniGraph2 .y .tick {
    display: none;
}.miniGraph3 .y .tick {
    display: none;
}.miniGraph4 .y .tick {
    display: none;
}
.svg { 
  pointer-events: all;
  background-color: antiquewhite;
}
.hover-line { 
  stroke: black;  
  stroke-width: .8px;
}
.zoomOut {
      fill: #66a;
      cursor: pointer;
  }
  .zoomOutText {
      pointer-events: none;
      fill : #ccc;
  }
  .zoomOverlay {
      pointer-events: all;
      fill:none;
  }
  .band {
      fill : none;
      stroke-width: 1px;
      stroke: red;
  }
.axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }
  path.line {
      fill: none;
      stroke-width: 1px;
  }